<a href="https://colab.research.google.com/github/VU21CSEN0101426/PYTHON/blob/main/dictionaries_main_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

changing the value of a specific item by referring to its key name

In [1]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
car["year"] = 2009
print(car)

{'brand': 'Honda', 'model': 'honda jazz', 'year': 2009}

using update()

In [4]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
car.update({"year": 2009})
print(car)

{'brand': 'Honda', 'model': 'honda jazz', 'year': 2009}

adding the item to dictionaries

In [5]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
car["color"]= "red"
print(car)

{'brand': 'Honda', 'model': 'honda jazz', 'year': 1948, 'color': 'red'}

using pop()

In [8]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
car.pop("model")
print(car)

{'brand': 'Honda', 'year': 1948}

using popitem()

In [10]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
car.popitem()
print(car)

{'brand': 'Honda', 'model': 'honda jazz'}

using del
The del keyword can also delete the dictionary completely:

In [13]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
del car["brand"]
print(car)

{'model': 'honda jazz', 'year': 1948}

The del keyword can also delete the dictionary completely:

In [16]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
del car
print(car)

NameError: ignored

using clear()

In [17]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
car.clear()
print(car)

{}

By using for loop

In [18]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
for x in car:
    print(x)

brand
model
year

In [19]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
for x in car:
    print(car[x])

Honda
honda jazz
1948

using values() in for loop

In [24]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
for x in car.values():
    print(x)

Honda
honda jazz
1948

using keys() qin for loop

In [26]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
for x in car.keys():
    print(x)

brand
model
year

using items() in for loop

In [30]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
for x, y in car.items():
    print(x,y)

brand Honda
model honda jazz
year 1948

using copy() method

In [31]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
company = car.copy()
print(company)

{'brand': 'Honda', 'model': 'honda jazz', 'year': 1948}

using dict() method

In [32]:
car= {
  "brand": "Honda",
  "model": "honda jazz",
  "year": 1948
}
company = dict(car)
print(company)

{'brand': 'Honda', 'model': 'honda jazz', 'year': 1948}

nested dictionaries

In [37]:
myfamily = {
      "child1" :{
      "name"   : "Sri",
      "age"    : "18",
      "class"  : "10th"
  },
      "child2" :{ 
      "name"   : "Keerthi",
      "age"    : "12",
      "class"  : "7th"
  },
      "child3" :{
      "name"   : "Sai",
      "age"    : "10",
      "class"  : "4th"
  }
}
print(myfamily)

{'child1': {'name': 'Sri', 'age': '18', 'class': '10th'}, 'child2': {'name': 'Keerthi', 'age': '12', 'class': '7th'}, 'child3': {'name': 'Sai', 'age': '10', 'class': '4th'}}

In [40]:
child1 = {
      "name"   : "Sri",
      "age"    : "18",
      "class"  : "10th"
  },
child2 = { 
      "name"   : "Keerthi",
      "age"    : "12",
      "class"  : "7th"
  },
child3 ={
      "name"   : "Sai",
      "age"    : "10",
      "class"  : "4th"
  }
    
myfamily ={
       "child1":child1,
       "child2":child2,
       "child3":child3
}    
print(myfamily)

{'child1': ({'name': 'Sri', 'age': '18', 'class': '10th'},), 'child2': ({'name': 'Keerthi', 'age': '12', 'class': '7th'},), 'child3': {'name': 'Sai', 'age': '10', 'class': '4th'}}