<a href="https://colab.research.google.com/github/VU21CSEN0101426/PYTHON/blob/main/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def nCr(a,b):
  return(fact(a)/(fact(b)*fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
  res=1
  for i in range(2,a+1):
    res=res*1
  return res
print(int(nCr(a,b)))

4
5
1

Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [5]:
color=["Red","Green","White","Black","Pink","Yellow"]
color.remove("Red")
color.remove("Pink")
color.remove("Yellow")
print(color)

['Green', 'White', 'Black']

Program to get the difference between the two lists

In [17]:
list1=[10,20,30,40,50]
list2=[1,2,3,4]
a=set(list1)
b=set(list2)
print(a)
print(b)
c=a.difference(b)
print(c)
x=list(a)
y=list(b)
print(x)
print(y)

{40, 10, 50, 20, 30}
{1, 2, 3, 4}
{40, 10, 50, 20, 30}
[40, 10, 50, 20, 30]
[1, 2, 3, 4]

In [ ]:
Program to remove a key from a dictionary

In [32]:
food={"dish":"chicken","flavour":"spicy","pieces":"6"}
print(food)
if 'dish' in food:
    del food["pieces"]
print(food)

{'dish': 'chicken', 'flavour': 'spicy', 'pieces': '6'}
{'dish': 'chicken', 'flavour': 'spicy'}

Python function that accepts a string and calculates the number of uppercase
letters and lowercase letters.

In [40]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('I am a fan of BTS and BLACKPINK')

Original String :  I am a fan of BTS and BLACKPINK
No. of Upper case characters :  13
No. of Lower case Characters :  11

Program to get the maximum and minimum value in a dictionary

In [39]:
food={"dish":"chicken","flavour":"spicy","pieces":"6"}
min_key = min(food, key=food.get)
max_key = max(food, key=food.get)
print(food.get(min_key))
print(food.get(max_key))

6
spicy

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.

In [47]:
x = [10,20,30,40,50]
print("The list is")
print(x)
print("The resultant tuple is :")
result = [(val, pow(val, 2)) for val in x]
print(result)

The list is
[10, 20, 30, 40, 50]
The resultant tuple is :
[(10, 100), (20, 400), (30, 900), (40, 1600), (50, 2500)]