<a href="https://colab.research.google.com/github/VU21CSEN0101426/PYTHON/blob/main/SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruit={"mango","berry","cherry","banana"}
print(fruit)

{'mango', 'banana', 'cherry', 'berry'}

In [ ]:
fruit={"mango","berry","cherry","banana","apple"}
print(len(fruit))

5

type of set

In [ ]:
fruit={"mango","berry","cherry","banana"}
print(type(fruit))

<class 'set'>

In [ ]:
for loop in sets

In [ ]:
fruit={"mango","berry","cherry","banana"}
for x in  fruit:
  print (x)

mango
banana
cherry
berry

In [ ]:
fruit={"mango","berry","cherry","banana"}
print("mango" in fruit)

True

using append in lists

In [ ]:
fruit=["mango","berry","cherry","banana"]
fruit.append("orange")
print(fruit)

['mango', 'berry', 'cherry', 'banana', 'orange']

using add in sets

In [ ]:
fruit={"mango","berry","cherry","banana","orange","kiwi"}
fruit.add("apple")
print(fruit)

{'mango', 'berry', 'orange', 'apple', 'kiwi', 'banana', 'cherry'}

we use update in sets

In [ ]:
fruit={"mango","berry","cherry","banana"}
flower={"lily","rose","jasmine"}
fruit.update(flower)
print(fruit)

{'mango', 'berry', 'rose', 'jasmine', 'lily', 'banana', 'cherry'}

adding lists and sets in one

In [ ]:
fruit={"mango","berry","cherry","banana"}
flower=["lily","rose","jasmine"]
fruit.update(flower)
print(fruit)

{'mango', 'berry', 'rose', 'orange', 'lily', 'apple', 'jasmine', 'kiwi', 'banana', 'cherry'}

using remove in sets

In [ ]:
fruit={"mango","berry","cherry","banana"}
fruit.remove("mango")
print(fruit)

{'banana', 'cherry', 'berry'}

In [ ]:
fruit={"mango","berry","cherry","banana"}
fruit.discard("banana")
print(fruit)

{'mango', 'cherry', 'berry'}

In [ ]:
fruit={"mango","berry","cherry","banana"}
fruit.pop()
print(fruit)

{'banana', 'cherry', 'berry'}

In [ ]:
fruit={"mango","berry","cherry","banana"}
fruit.clear()
print(fruit)

set()

using union

In [ ]:
fruit={"mango","berry","cherry","banana"}
flower={"lily","rose","jasmine"}
thing=flower.union(fruit)
print(thing)

{'mango', 'rose', 'berry', 'jasmine', 'lily', 'banana', 'cherry'}

using update for the two sets

In [ ]:
fruit={"mango","berry","cherry","banana"}
flower={"lily","rose","jasmine"}
fruit.update(flower)
print(fruit)

{'mango', 'berry', 'rose', 'jasmine', 'lily', 'banana', 'cherry'}

using insertion_update for two sets directly

In [ ]:
x={"mango","berry","cherry","banana"}
y={"google","insta","cherry","mango"}
x.intersection_update(y)
print(x)

{'mango', 'cherry'}

using insertion for two sets by naming to other element

In [43]:
x={"mango","berry","cherry","banana"}
y={"google","insta","cherry","mango"}
z= x.intersection(y)
print(z)

{'mango', 'cherry'}

using symmetric_difference_update for two sets

In [47]:
x={"mango","berry","cherry","banana"}
y={"google","insta","cherry","mango"}
x.symmetric_difference_update(y)
print(x)

{'berry', 'insta', 'banana', 'google'}

using symmetric_difference for two sets by naming to other element

In [50]:
x={"mango","berry","cherry","banana"}
y={"google","insta","cherry","mango"}
z=x.symmetric_difference(y)
print(z)

{'berry', 'insta', 'banana', 'google'}