<a href="https://colab.research.google.com/github/VU21CSEN0101426/PYTHON/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
fruits=("mango","orange","berry","Cherry","guava")
print(fruits)

('mango', 'orange', 'berry')

LENGTH OF THE TUPLE

In [3]:
fruits=("mango","orange","berry","Cherry","guava")
print(len(fruits))

5

TYPE OF THE TUPLE

In [6]:
fruits=("mango",)
print(type(fruits))
fruits=("mango")
print(type(fruits))

<class 'tuple'>
<class 'str'>

CONVERTING TUPLE TO LIST

In [21]:
x=("mango","orange","berry","Cherry","guava")
y=list(x)
print(y)

['mango', 'orange', 'berry', 'Cherry', 'guava']

ADDING MORE TUPLES

In [12]:
fruits=("mango","orange","berry","Cherry","guava")
numbers=("1","2","3","4","5")
names=("ram","ravi","shiva")
print(fruits)
print(numbers)
print(names)

('mango', 'orange', 'berry', 'Cherry', 'guava')
('1', '2', '3', '4', '5')
('ram', 'ravi', 'shiva')

TYPE OF THE TUPLE

In [13]:
fruit=("mango","orange","berry","Cherry","guava")
print(type(fruit))

<class 'tuple'>

In [14]:
fruit=tuple(("mango","orange","berry","Cherry","guava"))
print(fruits)

('mango', 'orange', 'berry', 'Cherry', 'guava')

 tuple with strings, integers and boolean

In [23]:
things=("abc",36, True,40,"female")
print(things)

('abc', 36, True, 40, 'female')

In [29]:
fruit=("mango","orange","berry","Cherry","guava")
print(fruit[4])

guava

In [31]:
fruit=("mango","orange","berry","Cherry","guava")
print(fruit[-3])

berry

In [42]:
fruit=("mango","orange","berry","Cherry","guava")
print(fruit[1:3])

('orange', 'berry')

In [39]:
fruit=("mango","orange","berry","Cherry","guava")
print(fruit[:2])

('mango', 'orange')

In [41]:
fruit=("mango","orange","berry","Cherry","guava")
print(fruit[2:])

('berry', 'Cherry', 'guava')

In [47]:
fruit=("mango","orange","berry","Cherry","guava")
print(fruit[-5:-1])

('mango', 'orange', 'berry', 'Cherry')

In [53]:
fruit=("mango","orange","berry","Cherry","guava")
if "apple" in fruit:
  print("yes,'apple' is in fruits")

In [57]:
fruit=("mango","orange","berry","Cherry","guava")
if "mango" in fruit:
  print("yes,'mango' is in fruits")

yes,'mango' is in fruits

CONVERTING LISTS TO TUPLE

In [61]:
x=("mango","orange","berry","Cherry","guava")
y=list(x)
x=tuple(y)
print(x)

('mango', 'orange', 'berry', 'Cherry', 'guava')

ADDING FRUIT IN TUPLE WHICH IS CONVERTED TO LIST

In [62]:
x=("mango","orange","berry","Cherry","guava")
y=list(x)
y[3]="apple"
x=tuple(y)
print(x)

('mango', 'orange', 'berry', 'apple', 'guava')

USING APPEND IN TUPLE

In [65]:
x=("mango","orange","berry","Cherry","guava")
y=list(x)
y.append("apple")
print(y)

['mango', 'orange', 'berry', 'Cherry', 'guava', 'apple']

ADDING EXTEND IN TUPLE

In [72]:
x=("mango","orange","berry","Cherry","guava")
y=("apple",)
x += y
print(x)

('mango', 'orange', 'berry', 'Cherry', 'guava', 'apple')

In [73]:
x=("mango","orange","berry","Cherry","guava")
y=list(x)
y.remove("berry")
x= tuple(y)
print(y)

['mango', 'orange', 'Cherry', 'guava']